<br/>
<br/>
<div id='content' class="container container-fluid" style="text-align: center">
    <!--<a href="#menu" class="menu-link">&#9776;</a>-->
    <img onclick="$('#mm_modal').modal('show');" class="header_icons" src="images/Row-128.png">


    <div id="mm_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        -->
                    <h4 class="modal-title">Welcome, <h6 class="" id="name_tag"></h6></h4>
                </div>
                <!--<div id="sub_list_modal" class="modal-body"></div>-->
                <div id="" class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" style="list-style-type: none; margin-left: 0px;">
                            <button id="mm_options_icon" style="width: 100%; " class="btn btn-primary">Logout <label
                                    class="glyphicon glyphicon-log-out pull-right"></label></button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close <label
                            class="glyphicon glyphicon-remove-sign"></label></button>
                </div>

            </div>
        </div>
    </div>
    <!--<img id="mm_options_icon" class="header_icons"  src="images/Lock-128.png">-->

    <!--<div id="app">-->
    <!--<nav id="arc">-->
    <!--<a href=""></a>-->
    <!--<ul>-->
    <!--<li><a href="#">&#x263D;</a></li>-->
    <!--<li><a href="#">&#x2600;</a></li>-->
    <!--<li><a href="#">&#x2708;</a></li>-->
    <!--&lt;!&ndash;<li><a href="#">&#x2605;</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#">&hearts;</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#">&#x263A;</a></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->

    <div class="row master_ul">
        <div class="col-xs-12 ul">
            <div class="drop-shadow">
                <div class="row li" id="mm_0">
                    <div class="col-xs-10 ">
                        <div class="li_font">Client Issue Entry</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_1">
                    <div class="col-xs-10">
                        <div class="li_font">Complaint Approval</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_2">
                    <div class="col-xs-10">
                        <div class="li_font">Complaint Assignment</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_3">
                    <div class="col-xs-10">
                        <div class="li_font">Issue Clearance</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_4">
                    <div class="col-xs-10">
                        <div class="li_font">Assignment Status</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_5">
                    <div class="col-xs-10">
                        <div class="li_font">Client Admin View</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_6" onclick="d_act_report.load();">
                    <div class="col-xs-10">
                        <div class="li_font">Daily Activity Report</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
            <div class="drop-shadow">
                <div class="row li" id="mm_7">
                    <div class="col-xs-10">
                        <div class="li_font">Minutes of Meeting</div>
                    </div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
            </div>
        </div>
    </div>

</div>